
.flex
  display flex

h1
  font-family "IBM Plex Mono", "Courier New", Courier, monospace
  font-size 6rem
  font-weight 600
  text-align right


h2
  color #922
  font-family "IBM Plex Sans", "Courier New", Courier, monospace
  font-size 2.3rem
  font-weight 500
  text-align left


img
  float right
  //flex 0 0 20%
  margin-right 2rem
  max-height 120px
  max-width 120px
